table {
  
    border-collapse:collapse;
    width: 30%;
    position: relative;
    top: 20px;
    left: 33%;
}

th, td {
    padding: 8px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
border: 1px solid teal;

    
}

th {
    background-color: #fa5dff;
}

td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.button1{
    border: none;
    text-decoration: none;
        text-shadow: 0 0 8px crimson,
        0 0 12px crimson,
        0 0 16px rgb(0, 0, 0),
        0 0 20px crimson,
        0 0 24px crimson,
        0 0 28px rgb(255, 255, 255),
        0 0 32px crimson,
        0 0 36px crimson;
    padding: 12px;
    background-color: pink;
    cursor: pointer;
    border-radius: 50%/70% 70% 60% 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 900;
    

}

.button2{
    border: none;
    text-decoration: none;
        text-shadow: 0 0 8px rgb(38, 191, 252),
        0 0 12px rgb(38, 191, 252),
        0 0 16px rgb(0, 0, 0),
        0 0 20px rgb(38, 191, 252),
        0 0 24px rgb(38, 191, 252),
        0 0 28px rgb(255, 255, 255),
        0 0 32px rgb(38, 191, 252),
        0 0 36px rgb(38, 191, 252);
    padding: 12px;
    background-color: rgb(197, 255, 255);
    cursor: pointer;
    border-radius: 50%/70% 70% 60% 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 900;
}


h1{
    justify-content: center;
    text-align: center;
    text-decoration: overline;
    color: green;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}