

.Enviar_mensaje {
    margin-top: 1px;
    display: flex;
    align-items: center;

    width: 90%;
    position: relative;
    left: 4%;

  }
  
  .Enviar_mensaje input {
    position: relative;
        top: 30px;
    flex: 1;
    padding: 8px;
        
  }
  
  .Enviar_mensaje button {
    position: relative;
        top: 30px;
        left: 3px;
    padding: 3px 4px;
    border: transparent;
    background-color: transparent;
    border-radius: 40px;
  }
  
  @media screen and (max-width: 480px) {
    .Enviar_mensaje {
      flex-direction: column;
    }
    
    .Enviar_mensaje input,
    .Enviar_mensaje button {
      width: auto;
    }
  }
  
.foto{
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
        object-fit: cover;
}
.encabezado{
  display: flex;
}
.img{
  border-radius: 90px;
}

.nombreq{
  color: black;
  position: relative;
    left: 7%;
    top: -15px;
    
}

.Contratar {
  position: relative;
  left: 730%;
  height: 50px;
  border: none;
  text-decoration: none;
    text-shadow: 0 0 8px rgb(38, 191, 252),
    0 0 12px rgb(38, 191, 252),
    0 0 16px rgb(0, 0, 0),
    0 0 20px rgb(38, 191, 252),
    0 0 24px rgb(38, 191, 252),
    0 0 28px rgb(255, 255, 255),
    0 0 32px rgb(38, 191, 252),
    0 0 36px rgb(38, 191, 252);
  padding: 12px;
  background-color: rgb(197, 255, 255);
  cursor: pointer;
  border-radius: 50%/70% 70% 60% 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 900;
}
.Reportar{
  position: relative;
  left: 560%;
  height: 50px;
  border: none;
  text-decoration: none;
      text-shadow: 0 0 8px crimson,
      0 0 12px crimson,
      0 0 16px rgb(0, 0, 0),
      0 0 20px crimson,
      0 0 24px crimson,
      0 0 28px rgb(255, 255, 255),
      0 0 32px crimson,
      0 0 36px crimson;
  padding: 12px;
  background-color: pink;
  cursor: pointer;
  border-radius: 50%/70% 70% 60% 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 900;
}
